header{
    width: 50%;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 720px){
    body{
        display: flex;
        background-color: azure;
    }
    img{
        width: 100%;
    }
    footer{
        display: block;
        background-color: blanchedalmond;
    }
    header{
        background-color: aliceblue;
    }
}