<%-locals.formRes%>
<form method="post" id="form" action="/form">
    <p name="title1">Avalie seu bem estar geral nesta semana </p>
    <input type="radio" class="radio" name="q1" id="q1-1" value="1">
    <input type="radio" class="radio" name="q1" id="q1-2" value="2">
    <input type="radio" class="radio" name="q1" id="q1-3" value="3">
    <input type="radio" class="radio" name="q1" id="q1-4" value="4">
    <input type="radio" class="radio" name="q1" id="q1-5" value="5"><br><br>
    <p>Qual o seu grau de satisfação com o ambiente de trabalho?</p>
    <input type="radio" class="radio" name="q2" id="q2-1" value="1">
    <input type="radio" class="radio" name="q2" id="q2-2" value="2">
    <input type="radio" class="radio" name="q2" id="q2-3" value="3">
    <input type="radio" class="radio" name="q2" id="q2-4" value="4">
    <input type="radio" class="radio" name="q2" id="q2-5" value="5"><br><br>
    <p>Você sente que seu trabalho possúi um impacto positivo nessa empresa?</p>
    <input type="radio" class="radio" name="q3" id="q3-1" value="1">
    <input type="radio" class="radio" name="q3" id="q3-2" value="2">
    <input type="radio" class="radio" name="q3" id="q3-3" value="3">
    <input type="radio" class="radio" name="q3" id="q3-4" value="4">
    <input type="radio" class="radio" name="q3" id="q3-5" value="5"><br><br>
    <p>Você possúi as ferramentas e recursos necessários para realizar seu trabalho efetivamente?</p>
    <input type="radio" class="radio" name="q4" id="q4-1" value="1">
    <input type="radio" class="radio" name="q4" id="q4-2" value="2">
    <input type="radio" class="radio" name="q4" id="q4-3" value="3">
    <input type="radio" class="radio" name="q4" id="q4-4" value="4">
    <input type="radio" class="radio" name="q4" id="q4-5" value="5"><br><br>
    <input type="submit" value="enviar" class="btn"><br><br>
</form>
<p id="formRes"></p>
<p><%= locals.test %></p>
